# Colcon build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/
*.swp

# ROS
*.bag
*.db3

# NVIDIA Isaac ROS packages (clone from official repos)
src/isaac_ros_common/
src/isaac_ros_cumotion/

# OS
.DS_Store
Thumbs.db

# Local development notes
src/cmd.txt
cmd.txt

# yolov8
yolov8n.pt
yolov8x.pt